<html>
    <head>
        <title>日常</title>
    </head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <body>
    {% for post in posts %}
        <div>
            <p>pubilished: {{ post.published_date }}</p>
            <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
        </div>
    {%  endfor %}
    </body>
</html>